<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h3 class="text-center">{{title}}</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <video #myvid id="my-video" class="video-js vjs-big-play-centered mini-play"
                width="640" height="360" [poster]="poster" style="margin: auto;">
          <source [src]="videoUrl" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row">
        <div class="col-4">         
          <input type="checkbox" [(ngModel)]="options.loop" (ngModelChange)="toggleLoop()"/> Loop  
          <input type="checkbox" [(ngModel)]="options.controls" (ngModelChange)="toggleControls()"/> Controls
          <input type="checkbox" [(ngModel)]="options.fluid" (ngModelChange)="toggleFluid()"/> Fluid 
          <input type="checkbox" [(ngModel)]="options.muted" (ngModelChange)="toggleMute()"/> Mute
        </div> 
        <div class="col-4">         
            <!-- <input type="checkbox" [(ngModel)]="options.controls" (ngModelChange)="toggleControls()"/> Controls               -->
        </div>
        <div class="col-4">         
          <button class="previous" (click)="previous()">Previous</button>
          <button class="next" (click)="next()">Next</button><br>
        </div>
    </div>
  </div>
</div>
 

<router-outlet></router-outlet>
